<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

<!-- --------------------------------------MAIN----------------------------------------------- -->

    <main>

        <h1 class="titulares">Basado en tu última visita</h1>

        <section class="seccion-de-articulos">

            <% for(let products of allProducts) { %>
            <a href="/products/detail/<%= products.id%>" class="articulo-de-producto">
                <img src="/images/products/<%= products.img %>" class="images" alt="">
                <div>
                    <div class="camion">
                        <i class="fas fa-truck" id="truck"></i>
                    </div>
                    <div class="detalles-del-producto">
                        <p class="precio">$<%= (products.price * products.offer.offer) / 100 %></p>
                        <p class="descuento"><%= products.offer.offer %>% OFF</p>
                    </div>
                    <h2 class="descripcion-de-articulo"><%= products.name %></h2>
                </div>
            </a>
            <% } %>
        </section>

        <h1 class="titulares">Ofertas</h1>

        <section class="seccion-de-articulos">

            <% for(let products of allProducts) { %>
                <a href="/products/detail/<%= products.id%>" class="articulo-de-producto">
                    <img src="/images/products/<%= products.img %>" class="images" alt="">
                    <div>
                        <div class="camion">
                            <i class="fas fa-truck" id="truck"></i>
                        </div>
                        <div class="detalles-del-producto">
                            <p class="precio">$<%= (products.price * products.offer.offer) / 100 %></p>
                            <p class="descuento"><%= products.offer.offer %>% OFF</p>
                        </div>
                        <h2 class="descripcion-de-articulo"><%= products.name %></h2>
                    </div>
                </a>
                <% } %>
        </section>
    </main>

<!-- -----------------------------------FOOTER------------------------------------------------ -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>